<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mpcl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.barcode_setting.PickupScanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.StickerPrintActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.barcode_setting.DeviceSetupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.StickerPrintingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.barcode_setting.DeviceSettingActivity"
            android:exported="true" />
        <activity android:name=".activity.operation.LocationScanActivity" />
        <activity
            android:name=".activity.operation.StockCheckingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.operation.VehicleLoadUploadActivity" />
        <activity android:name=".activity.operation.EkartLocationActivity" />
        <activity
            android:name=".activity.operation.AcCopyUploadActivity"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".activity.PodUploadActivity" />
        <activity android:name=".activity.OperationActivity" />
        <activity android:name=".activity.FringerPrintLoginMainActivity" />
        <activity android:name=".activity.OptionActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.DashboardActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".util.qr_scanner.BarcodeScanningActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".util.qr_scanner.QRcodeScanningActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/FullScreenTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>